@model Produtos.Models.Produto

@{
    ViewBag.Title = "Resultado";
}

<h2>Listar Dados dos Produtos</h2>
<fieldset>
    <legend>Dados do Produto</legend>
    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Codigo)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Codigo)
    </div>

    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Descricao)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Descricao)
    </div>
    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Peso)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Peso)
    </div>

    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Categoria)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Categoria)
    </div>

    <div class="editor-label">
        @Html.DisplayNameFor(model => model.ValorUnit)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.ValorUnit)
    </div>

    <p>@Html.ActionLink("Voltar", "Index") </p>
</fieldset>

